/* =============================================================================
   FTab RTL extension
   ========================================================================== */
.ftab.rtl {
  padding: 0px .15em 0px .30em;
}

.ftab.rtl:before,
.ftab.rtl:after {
  border-width: 0 0 .25em .25em;
}

.ftab.rtl:before {
  top: -1px;
  left: -1px;
}

.ftab.rtl:after {
  top:0; /* -.98px*/
  left:-.1px;
}
