/* =============================================================================
   ORANGE STYLE
   ========================================================================== */
/* Regular state */
.ftab.orange {
  color: #f2f2f2;
  border-color: transparent;
  background: #f06529;
  -webkit-box-shadow: -5px 7px 1px #e34c26;
  -moz-box-shadow: -5px 7px 1px #e34c26;
  box-shadow: -5px 7px 1px #e34c26;
}
.ftab.orange:before {
  /* should have same color as tab's border */
  border-bottom-color: transparent;
  /* should have same color as parent's background */
  border-right-color: #fff;
}

.ftab.orange:after {
  /* should have same color as tab's background */
  border-bottom-color: #f06529;
}
/* Hover state */
.ftab.orange:hover {
  background: #0092bf;
  border-color: #0092bf;
}
.ftab.orange:hover:before {
  /* should have same color as tab border */
  border-bottom-color: #0092bf;
}
.ftab.orange:hover:after {
  /* should have same color as tab background */
  border-bottom-color: #0092bf;
}
/* OnClick state */
.ftab.orange:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /* Top and Right should be equal to the box-shadow of regular state*/
  top:7px;
  right:5px;
}

/* RTL */
.ftab.orange.rtl {
  -webkit-box-shadow: 5px 7px 1px #e34c26;
  -moz-box-shadow: 5px 7px 1px #e34c26;
  box-shadow: 5px 7px 1px #e34c26;
}
.ftab.orange.rtl:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  top:7px;
  left:5px;
}