/* =============================================================================
   Tab Regular state
   ========================================================================== */
.tab-rtl {
  position: relative;
  display: inline-block;
  *zoom:1;
  *display:inline;

  padding: 0px .15em 0px .25em;
  border: 1px solid transparent;

  /* let's add some colors */
  color: #606e94;
  background: #fff;
  text-shadow: 4px 4px 1px #d5dcf1;
  -webkit-box-shadow: 5px 7px 1px #d5dcf1;
  -moz-box-shadow: 5px 7px 1px #d5dcf1;
  box-shadow: 5px 7px 1px #d5dcf1;
}

.tab-rtl:before, .tab-rtl:after {
  content: "";
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 0 .25em .25em;
  border-color: transparent;
}

.tab-rtl:before {
  top: -1px;
  left: -1px;
  /* should have same color as tab's border */
  border-bottom-color: #dbdbdb;
  /* should have same color as parent's background */
  border-left-color: #fff;
}

.tab-rtl:after {
  top: -.98px;
  left:-.1px;
  /* should have same color as tab's background */
  border-bottom-color: #fff;
}

/* =============================================================================
   Tab Hover state
   ========================================================================== */
.tab-rtl:hover {
  background: #8993ae;
  border-color: #8993ae;
}
.tab-rtl:hover:before {
  /* should have same color as tab border */
  border-bottom-color: #8993ae;
}
.tab-rtl:hover:after {
  /* should have same color as tab background */
  border-bottom-color: #8993ae;
}

/* =============================================================================
   Tab OnClick state
   ========================================================================== */
.tab-rtl:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  top:7px;
  left:5px;
}