.tab-rtl {
  position: relative;
  display: inline-block;
  *zoom:1;
  *display:inline;
  
  padding: 0px .15em 0px .25em;
  border:1px solid #dbdbdb;

  /* let's add some colors */
  text-shadow: 4px 4px 1px #d5dcf1;
  box-shadow: 5px 7px 1px #d5dcf1;
}

.tab-rtl:before, .tab-rtl:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  border-style: solid;
  border-width: 0 0 .25em .25em;
}

.tab-rtl:before {
  border-color: transparent transparent #dbdbdb #fff;
}

.tab-rtl:after {
  top: -.98px;
  left:-.1px;
  border-color: transparent transparent #fff transparent;
}