.tab {
  position: relative;
  display: inline-block;
  *zoom:1;
  *display:inline;
  
  padding: 0px .25em 0px .15em;
  border:1px solid #8993ae;
  
  /* let's add some colors */
  background: #8993ae;
  text-shadow: -4px 4px 1px #d5dcf1;
  -webkit-box-shadow: -5px 7px 1px #d5dcf1;
  -moz-box-shadow: -5px 7px 1px #d5dcf1;
  box-shadow: -5px 7px 1px #d5dcf1;
}

.tab:before, .tab:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  border-style: solid;
  border-width: 0 .25em .25em 0;
}

.tab:before {
  border-color: transparent #fff #8993ae transparent;
}

.tab:after {
  top: -.1px;
  right:-.9px;
  border-color: transparent transparent #8993ae transparent;
}