.tab {
  float: left;
  position: relative;
  display: inline;
  padding: 5px 30px 5px 15px;
  border:1px solid #dbdbdb;
}

.tab:before, .tab:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  border-style: solid;
  border-width: 0 30px 30px 0;
}

.tab:before {
  border-color: transparent #fff #dbdbdb transparent;
}

.tab:after {
  top: -.1px;
  right:-.9px;
  border-color: transparent transparent #fff transparent;
}