/* =============================================================================
   Tab Regular state
   ========================================================================== */
.tab {
  position: relative;
  display: inline-block;
  *zoom:1;
  *display:inline;

  padding: 0px .25em 0px .15em;
  border: 1px solid transparent;
  
  /* let's add some colors */
  color: #606e94;
  background: #8993ae;
  text-shadow: -.031em .038em 1px #d5dcf1;
  -webkit-box-shadow: -5px 7px 1px #d5dcf1;
  -moz-box-shadow: -5px 7px 1px #d5dcf1;
  box-shadow: -5px 7px 1px #d5dcf1;
}

.tab:before, .tab:after {
  content: "";
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 .25em .25em 0;
  border-color: transparent;
}

.tab:before {
  top: -1px;
  right: -1px;
  /* should have same color as tab's border */
  border-bottom-color: transparent;
  /* should have same color as parent's background */
  border-right-color: #fff;
}

.tab:after {
  top: -.1px;
  right:-.9px;
  /* should have same color as tab's background */
  border-bottom-color: #8993ae;
}

/* =============================================================================
   Tab Hover state
   ========================================================================== */
.tab:hover {
  background: #fff;
  border-color: #dbdbdb;
}
.tab:hover:before {
  /* should have same color as tab border */
  border-bottom-color: #dbdbdb;
}
.tab:hover:after {
  /* should have same color as tab background */
  border-bottom-color: #fff;
}

/* =============================================================================
   Tab OnClick state
   ========================================================================== */
.tab:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /* Top and Right should be equal to the box-shadow of regular state*/
  top:7px;
  right:5px;
}